body {
  font-family: "Montserrat", sans-serif;
  min-width: 320px;
  color: #1d1d1d;
}

/* Устанавливаем для всех картинок адаптивность */
img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 100px 0;
}

h3 {
  font-style: italic;
  font-size: 42px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 44px;
  margin-bottom: 20px;
}

/* ========================== header ========================== */
.main-header {
  background: url(../img/main1.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 700px;
  position: relative;
}

.main-header .navbar-toggler {
  color: #fff;
}

.main-header .navbar-brand,
.main-header ul li a {
  color: #fff;
  font-weight: 600;
}

.main-header .navbar-brand {
  font-size: 41px;
}

.main-header ul li a {
  font-size: 17px;
}

.main-header ul li a::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #fff;
  height: 1px;
  transform: scale(0);
  transition: all 0.3s;
}

.main-header ul li a:hover::after {
  transform: scale(1);
}

.main-header-text {
  position: absolute;
  top: 25%;
  left: 5%;
  max-width: 600px;
  color: #fff;
  padding: 20px;
}

.main-header-buttons {
  padding-left: 30px;
}

.btn {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.main-header-buttons .btn {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
  margin-right: 20px;
  opacity: 0.8;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.35);
  transition: all 0.5s;
}

.main-header-buttons .btn:hover {
  color: #fff;
  opacity: 1;
}

.btn-pink {
  background-color: #f42267;
}

.btn-violet {
  background-color: #69328e;
}

/* ========================== .section watch ========================== */
.section-watch {
  background: url('../img/world_map.png') center no-repeat;
  background-size: cover;
}

.section-watch h3,
.section-watch h4 {
  color: #484848;
}

.section-watch .nav-pills {
  margin-bottom: 20px;
}

.section-watch .nav-pills .nav-link {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 14px 30px;
  color: #484848;
}

.section-watch .nav-pills .nav-item .nav-link.active {
  background-color: #f42267;
  color: #fff;
  box-shadow: 0 4px 16px rgba(0,0,0,.35);
}

.btn-shadow {
  box-shadow: 0 10px 0 #ff5990;
  border-radius: 10px;
  padding: 10px 20px;
  transition: all .5s;
}

.btn-shadow:hover {
  background-color: #da1757;
  box-shadow: 0 5px 0 #ff5990;
  color: #fff;
}

/* ========================== .section progress ========================== */
.section-progress {
  background-color: #4b2d7f;
  color: #fff;
  font-size: 15px;
  padding: 0;
}

.section-progress i {
  font-size: 70px;
}

.section-progress .num {
  font-size: 50px;
  font-weight: 600;
  margin: 30px 0 20px;
}

.section-progress h4 {
  font-size: 30px;
  height: 72px;
  overflow: hidden;
}

.section-progress .progress-item {
  padding-top: 80px;
  padding-bottom: 80px;
  transition: all .5s;
}

.section-progress .progress-item:hover {
  background-color: #40286a;
}

/* ========================== .section lets ========================== */
.section-lets {
  background: url(../img/letsgrow.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .main-header-text {
    background-color: rgba(0,0,0,.4);
  }

  section {
    padding: 50px 0;
  }
}
@media only screen and (max-width: 991px) {
  .navbar-nav {
    background: linear-gradient(45deg, #ed1b33 0%, #442e82 100%);
    position: relative;
    z-index: 1;
    padding: 0 15px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .main-header-text {
    left:0;
    margin: 0 20px;
    max-width: 100%;
  }

  .main-header-text h3, .main-header-text h4 {
    font-size: 30px;
  }

  .section-progress .progress-item {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .main-header-text {
    top: 90px;
  }

  .main-header-buttons .btn{
    display: block;
    width: 100%;
    margin: 10px auto;
  }

  .btn-shadow {
    box-shadow: 0 5px 0 #ff5990;
    padding: 10px 15px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .section-watch .nav-pills .nav-link{
    padding: 8px 16px;
  }

  .section-watch .nav-pills .nav-item{
    width: 100%;
  }
}

@media only screen and (max-width: 380px) {
  .main-header .navbar-brand {
    font-size: 30px;
  }
}