body {
  font-family: "Montserrat", sans-serif;
  min-width: 320px;
  color: #1d1d1d;
}

/* Устанавливаем для всех картинок адаптивность */
img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 100px 0;
}

h3 {
  font-style: italic;
  font-size: 42px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 44px;
  margin-bottom: 20px;
}

/* ========================== header ========================== */
.main-header {
  background: url(../img/main1.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
  position: relative;
}

.main-header .navbar-brand,
.main-header ul li a {
  color: #fff;
  font-weight: 600;
}

.main-header .navbar-brand {
  font-size: 41px;
}

.main-header ul li a {
  font-size: 17px;
}

.main-header ul li a::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #fff;
  height: 1px;
  transform: scale(0);
  transition: all 0.3s;
}

.main-header ul li a:hover::after {
  transform: scale(1);
}

.main-header-text {
  position: absolute;
  top: 25%;
  left: 5%;
  max-width: 600px;
  color: #fff;
  padding: 20px;
}

.main-header-buttons {
  padding-left: 30px;
}

.btn {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.main-header-buttons .btn {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
  margin-right: 20px;
  opacity: 0.8;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.35);
  transition: all 0.5s;
}

.main-header-buttons .btn:hover {
  color: #fff;
  opacity: 1;
}

.btn-pink {
  background-color: #f42267;
}

.btn-violet {
  background-color: #69328e;
}
